@CHARSET "UTF-8";
div{
	float:left;
}
ul{
	float:left;
}
li{
	margin-top:10px;
	padding-right:5px;
	list-style: none;
	border-bottom:1px #ffffff solid;
}
table{
	background-color:#ffffff;
	margin-top:50px;
}
input,select{
	border-radius:5px;
}
input[type="text"]{
	width:90px;
}
input[type="button"]{
	width:50px;
}
input[type="button"]:HOVER{
	color: #ff0080;
}
th,td{
	text-align:center;
	width:80px;
	border:1px black solid;
}
td{
	font-weight:300;
}
a,a:hover{
	text-decoration: none;
	color:black;
}
.header{
	width:100%;
	height:51px;
	border-radius:5px;
	border-bottom:2px #0000ff solid;
}
.header_logo{
	width:49px;
	height:49px;
	border:1px green solid;
	border-radius:5px;
	background-image:url("../../images/flag/logo.png");
	background-size:49px 49px;
}
.header_index,.h_user,.h_book{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:49px;
	border:1px #c0c0c0 solid;
	border-radius:2px;
	margin-left:1px;
	cursor:pointer;
}
.header_index:hover,.h_user:hover,.h_book:hover{
	background-image:url("../../images/flag/header_min.png");
}
.header_user{
	width:170px;
	height:49px;
	float:right;
}
.user_img{
	padding-top:10px;
	text-align:center;
	width:68px;
	height:100%;
	border:1px #c0c0c0 solid;
	border-radius:2px;
	cursor:pointer;
}
.user_upload{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:100%;
	font-size:18px;
	font-weight:800;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	border-radius:4px;
	box-shadow:2px 2px 2px #000000;
	cursor:pointer;
	background-color: #04bae8;
}
.user_upload:HOVER{
	box-shadow:0px 0px 0px;
}
.classify_st{
	position:absolute;
	top:50px;  
    left:0%; 
	display:none;
	width:400px;
	animation:showclassify 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassify{
	0%{background:#ffffff;height:0px;opacity:0.0;}
	100%{background:#ffffff;height:30px;}
}
.class_title{
	padding-top:4px;
	text-align:center;
	width:100px;
	height:30px;
	border-bottom:1px red solid;
}
.class_ul1{
	position:absolute;
	display:none;
	top:30px;  
    left:0%; 
	width:180px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul2{
	position:absolute;
	display:none;
	top:30px;  
    left:90px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul3{
	position:absolute;
	display:none;
	top:30px;  
    left:200px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassul{
	0%{background:#c0c0c0;height:0px;opacity:0.0;}
	100%{background:#c0c0c0;height:260px;}
}
.user_info{
	position:absolute;
	top:50px;  
    right:53px; 
	display:none;
	border-left:1px #0080ff solid;
	border-right:1px #0080ff solid;
	width:204px;
	font-size:8px;
	text-align:center;
	float:right;
	animation:showInformation 1s;
	animation-fill-mode: forwards;
	background-color:white;
}
.list_all{
	padding-top:3px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:25px;
}
.list_half{
	margin-top:12px;
	border-bottom:1px #0080ff solid;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	width:100.9px;
	height:20px;
}
.list_login{
	padding-top:40px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:105px;
	font-weight:300;
	font-size:18px;
	font-color:#0080c0;
}
@keyframes showInformation{
	0%{height:0px;opacity:0.0;}
	100%{height:105px;}
}
.notice{
	position:absolute;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.7;
}
.not_div{
	margin-left:150px;
	width:100px;
	height:120px;
}
.not_div_font{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:49px;
	border:1px #c0c0c0 solid;
	border-radius:2px;
	margin-left:1px;
	background-color:white;
	cursor:pointer;
}
@keyframes arrowMove{
	0%{margin-left:23%;width:54px;height:63px;margin-top:7px;}
	25%{margin-left:10%;width:80px;height:59px;margin-top:0px;}
	50%{margin-left:23%;width:54px;height:63px;margin-top:7px;}
	75%{margin-left:10%;width:80px;height:59px;margin-top:0px;}
	100%{margin-left:23%;width:54px;height:63px;margin-top:7px;}
}
#arrow{
	margin-left:20%;
	width:60%;
	height:70px;
	animation:arrowMove 1s;
	animation-fill-mode: forwards;
}
#arrow2{
	margin-left:2px;
	width:60%;
	height:70px;
	animation:arrowMove 1s;
	animation-fill-mode: forwards;
}
.manager_content{
	width:100%;
	height:550px;
	background-color:#c0c0c0;
	text-align:center;
}
.manager_content a:hover{
	color:#ff0080;
}
.userTable{
	margin-left:13%;
	margin-top:2%;
	width:70%;
	height:92%;
	background-color:white;
	border:1px black solid;
}
.bookTable{
	margin-left:8%;
	margin-top:2%;
	width:83%;
	height:92%;
	background-color:white;
	border:1px black solid;
}
.T-header{
	width:100%;
	height:8%;
	border:1px red solid;
	font-size:19px;
	font-weight: 900;
	font-family: 幼圆;
	padding-top:5px;
}
.T-font{
	width:100%;
	height:7%;
	background-color: #918a6f;
}
.font-font{
	width:9%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.font2-font{
	width:17%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
	cursor: pointer;
}
.select_div{
	width:18px;
	height:60px;
	border-radius:6px;
	margin-left:-19px;
	cursor: pointer;
	background-color:#ff8000;
	color:black;
}
.font2_select1{
	display:none;
	position: absolute;
	border-top:1px black solid;
	width: 645px;
	left:181px;
	top:154px;
	text-align: left;
	animation:showselect 1s;
	animation-fill-mode: forwards;
}
.font2_select1 input[type='text'],.font2_select1 select{
	margin-top:10px;
	margin-left:15px;
	margin-right:14px;
	width:20%;
	height:30%; 
}
@keyframes showselect{
	0%{background:#918a6f;height:0px;opacity:0.0;}
	100%{background:#918a6f;height:110px;}
}
.font2_select2{
	display:none;
	position: absolute;
	border-top:1px black solid;
	width: 815px;
	left:111px;
	top:154px;
	text-align: left;
	animation:showselect 1s;
	animation-fill-mode: forwards;
	color:black;
}
.font2_select2 input[type='text'],.font2_select2 select{
	margin-top:10px;
	margin-left:11px;
	margin-right:11px;
	width:9.5%;
	height:23%; 
}
.f2s_button{
	width:140px;
	height:27px;
	border:1px white solid;
	border-radius:16px;
	margin-left:265px;
	margin-top:8px;
	cursor: pointer;
	background-color: #8080ff;
}
.f2s_button:ACTIVE{
	background-color: #0080c0;
}
.f2f_font{
	margin-left:38px;
}
.font-font2{
	width:18%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.font2-font2{
	width:31.9%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.font-font3{
	width:10%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.T-center{
	width:100%;
	height:77%;
	border:1px blue solid;
}
.T-content{
	width:100%;
	height:20%;
	border-bottom:1px green solid;
}
.T-content2{
	width:100%;
	height:10%;
	border-bottom:1px green solid;
}
.cont-cont{
	width:9%;
	height:100%;
	border-left:1px black solid;
	padding-top:28px;
}
.cont2-cont{
	width:17%;
	height:100%;
	border-left:1px black solid;
	padding-top:6px;
}
.cont2-cont2{
	width:16%;
	height:100%;
	border-left:1px black solid;
	padding-top:6px;
}
.cont-cont2{
	width:10%;
	height:100%;
	border-left:1px black solid;
}
.cont-cont3{
	width:18%;
	height:100%;
	border-left:1px black solid;
	padding-top:28px;
}
.cont-cont3 input[type='text']{
	width:35px;
}
.cont-img{
	width:100%;
	height:100%;
	background-size: cover;
	-moz-background-size: cover;
	cursor:pointer;
}
.imgForm_div{
	position:absolute;
	width:200px;
	height:30px;
	left:43%;
	top:0;
}
.imgForm_div input[type='button']{
	width:48%;
	height:100%;
}
.Img_tips{
	width:10%;
	height:10%;
	margin-top:-45%;
	color:white;
	font-size:15px;
	font-weight:700;
}
.Bimg{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0%;  
    left:0%; 
	border:1px solid #3366FF;  
}