@CHARSET "UTF-8";
div{
	float:left;
}
ul{
	float:left;
}
li{
	margin-top:10px;
	padding-right:5px;
	list-style: none;
	border-bottom:1px #ffffff solid;
}
table{
	background-color:#ffffff;
	margin-top:50px;
}
input[type="text"]{
	width:90px;
}
input[type="button"]{
	width:50px;
}
th,td{
	text-align:center;
	width:80px;
	border:1px black solid;
}
td{
	font-weight:300;
}
a,a:hover{
	text-decoration: none;
	color:black;
}
.header{
	width:1350px;
	height:50px;
	border-bottom:1px #c0c0c0 solid;
}
.header_logo{
	width:50px;
	height:50px;
	border:1px green solid;
	background-image:url("../../images/flag/logo.png");
	background-size:50px 50px;
}
.header_index,.h_user,.h_book{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:50px;
	border:1px #c0c0c0 solid;
	cursor:pointer;
}
.header_index:hover,.h_user:hover,.h_book:hover{
	background-image:url("../../images/flag/header_min.png");
}
.header_user{
	margin-top:5px;
	width:317px;
	height:44px;
	float:right;
	border-right:1px #c0c0c0 solid;
}
.user_img{
	padding-top:10px;
	text-align:center;
	width:60px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.user_message{
	padding-top:10px;
	text-align:center;
	width:56px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.user_favorite,.user_upload{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.classify_st{
	position:absolute;
	top:50px;  
    left:0%; 
	display:none;
	width:400px;
	animation:showclassify 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassify{
	0%{background:#ffffff;height:0px;opacity:0.0;}
	100%{background:#ffffff;height:30px;}
}
.class_title{
	padding-top:4px;
	text-align:center;
	width:100px;
	height:30px;
	border-bottom:1px red solid;
}
.class_ul1{
	position:absolute;
	display:none;
	top:30px;  
    left:0%; 
	width:180px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul2{
	position:absolute;
	display:none;
	top:30px;  
    left:90px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul3{
	position:absolute;
	display:none;
	top:30px;  
    left:200px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassul{
	0%{background:#c0c0c0;height:0px;opacity:0.0;}
	100%{background:#c0c0c0;height:260px;}
}
.user_info{
	position:absolute;
	top:50px;  
    right:200px; 
	display:none;
	border-left:1px #0080ff solid;
	border-right:1px #0080ff solid;
	width:204px;
	font-size:8px;
	text-align:center;
	float:right;
	animation:showInformation 1s;
	animation-fill-mode: forwards;
	background-color:white;
}
.list_all{
	padding-top:3px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:25px;
}
.list_half{
	margin-top:12px;
	border-bottom:1px #0080ff solid;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	width:100.9px;
	height:20px;
}
.list_login{
	padding-top:40px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:105px;
	font-weight:300;
	font-size:18px;
	font-color:#0080c0;
}
@keyframes showInformation{
	0%{height:0px;opacity:0.0;}
	100%{height:105px;}
}
.manager_content{
	width:100%;
	height:550px;
	background-color:#c0c0c0;
	text-align:center;
}
.bookTable{
	margin-left:8%;
	margin-top:2%;
	width:83%;
	height:92%;
	background-color:white;
	border:1px black solid;
}
.T-header{
	width:100%;
	height:8%;
	border:1px red solid;
	font-size:19px;
	font-weight: 900;
	font-family: 幼圆;
	padding-top:5px;
}
.T-font{
	width:100%;
	height:7%;
	border:1px blue solid;
	background-color: #918a6f;
}
.font-font{
	width:9%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.font-font2{
	width:18%;
	height:95%;
	border-left:1px black solid;
	padding-top:5px;
	font-weight: 700;
	font-size:16px;
}
.T-center{
	width:100%;
	height:77%;
	border:1px blue solid;
}
.T-content{
	width:100%;
	height:20%;
	border-bottom:1px green solid;
}
.cont-cont{
	width:9%;
	height:100%;
	border-left:1px black solid;
	padding-top:28px;
}
.cont-cont2{
	width:10%;
	height:100%;
	border-left:1px black solid;
}
.cont-cont3{
	width:18%;
	height:100%;
	border-left:1px black solid;
	padding-top:28px;
}
.cont-cont3 input[type='text']{
	width:35px;
}
.cont-img{
	width:100%;
	height:100%;
	background-size: cover;
	-moz-background-size: cover;
	cursor:pointer;
}
.Bimg{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0%;  
    left:0%; 
	border:1px solid #3366FF;  
}