@CHARSET "UTF-8";
div{
	float:left;
}
li{
	list-style: none;
	margin-top:10px;
}
a{
	text-decoration: none;
	color:black;
}
.header{
	width:1300px;
	height:50px;
	border:1px red solid;
}
.header_logo{
	width:50px;
	height:50px;
	border:1px green solid;
	background-image:url("../../images/background/logo.png");
}
.header_index,.header_classify,.header_random{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:40px;
	border:1px green solid;
	cursor:pointer;
}
.header_index:hover,.header_classify:hover,.header_random:hover{
	background-image:url("../../images/background/header_min.png");
}
.header_user{
	width:308px;
	height:50px;
	float:right;
	border:1px green solid;
}
.user_img{
	padding-top:10px;
	text-align:center;
	width:50px;
	height:40px;
	border:1px red solid;
	cursor:pointer;
}
.user_message{
	padding-top:10px;
	text-align:center;
	width:50px;
	height:40px;
	border:1px red solid;
	cursor:pointer;
}
.user_favorite,.user_logout{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:40px;
	border:1px red solid;
	cursor:pointer;
}

.classify_st{
	display:none;
	width:800px;
	border:1px red solid;
	animation:showclassify 1.5s;
	animation-fill-mode: forwards;
}
@keyframes showclassify{
	0%{background:#c0c0c0;height:0px;opacity:0.0;}
	100%{background:#c0c0c0;height:400px;}
}
.user_info{
	display:none;
	border-left:1px #0080ff solid;
	border-right:1px #0080ff solid;
	width:204px;
	font-size:8px;
	text-align:center;
	float:right;
	margin-right:240px;
	animation:showInformation 1s;
	animation-fill-mode: forwards;
}
.list_all{
	padding-top:3px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:25px;
}
.list_half{
	margin-top:12px;
	border-bottom:1px #0080ff solid;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	width:100px;
	height:20px;
}
@keyframes showInformation{
	0%{height:0px;opacity:0.0;}
	100%{height:120px;}
}