@CHARSET "UTF-8";
div{
	float:left;
}
ul{
	float:left;
}
li{
	margin-top:10px;
	padding-right:5px;
	list-style: none;
	border-bottom:1px #ffffff solid;
}
a,a:hover{
	text-decoration: none;
	color:black;
}
.header{
	width:1350px;
	height:50px;
	border-bottom:1px #c0c0c0 solid;
}
.header_logo{
	width:50px;
	height:50px;
	border:1px #c0c0c0 solid;
	background-image:url("../../images/flag/logo.png");
	background-size:50px 50px;
}
.header_index,.header_classify,.header_random{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:50px;
	border:1px #c0c0c0 solid;
	cursor:pointer;
}
.header_index:hover,.header_classify:hover,.header_random:hover{
	background-image:url("../../images/flag/header_min.png");
}
.header_user{
	margin-top:5px;
	width:317px;
	height:44px;
	float:right;
	border-right:1px #c0c0c0 solid;
}
.user_img{
	padding-top:10px;
	text-align:center;
	width:60px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.user_message{
	padding-top:10px;
	text-align:center;
	width:56px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.user_favorite,.user_upload{
	padding-top:10px;
	text-align:center;
	width:100px;
	height:44px;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	cursor:pointer;
}
.classify_st{
	position:absolute;
	top:50px;  
    left:0%; 
	display:none;
	width:400px;
	animation:showclassify 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassify{
	0%{background:#ffffff;height:0px;opacity:0.0;}
	100%{background:#ffffff;height:30px;}
}
.class_title{
	padding-top:4px;
	text-align:center;
	width:100px;
	height:30px;
	border-bottom:1px red solid;
}
.class_ul1{
	position:absolute;
	display:none;
	top:30px;  
    left:0%; 
	width:180px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul2{
	position:absolute;
	display:none;
	top:30px;  
    left:90px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
.class_ul3{
	position:absolute;
	display:none;
	top:30px;  
    left:200px; 
	width:120px;
	animation:showclassul 1s;
	animation-fill-mode: forwards;
}
@keyframes showclassul{
	0%{background:#c0c0c0;height:0px;opacity:0.0;}
	100%{background:#c0c0c0;height:260px;}
}
.user_info{
	position:absolute;
	top:50px;  
    right:200px; 
	display:none;
	border-left:1px #0080ff solid;
	border-right:1px #0080ff solid;
	width:204px;
	font-size:8px;
	text-align:center;
	float:right;
	animation:showInformation 1s;
	animation-fill-mode: forwards;
	background-color:white;
}
.list_all{
	padding-top:3px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:25px;
}
.list_half{
	margin-top:12px;
	border-bottom:1px #0080ff solid;
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	width:100.9px;
	height:20px;
}
.list_login{
	padding-top:40px;
	border-bottom:1px #c0c0c0 solid;
	width:204px;
	height:105px;
	font-weight:300;
	font-size:18px;
	font-color:#0080c0;
}
@keyframes showInformation{
	0%{height:0px;opacity:0.0;}
	100%{height:105px;}
}
.book_border{
	border:1px #808080 solid;width:250px;height:180px;margin-left:20px;margin-top:50px;
}
.book_img{
	border:1px black solid;width:130px;height:163px;
}
.book_title{
	font-weight:600;text-align:center;border-bottom:1px black solid;width:118px;height:20px;
}
.book_description{
	padding-top:5px;padding-left:3px;border-bottom:1px black solid;width:118px;height:143px;word-wrap:break-word;
}
.select_text{
	margin-left:100px;
	padding-top:10px;
	widht:50px; 
	height:50px;
}
.select_select{
	widht:50px; 
	height:60px;
}
.select_button{
	padding-top:10px;
	widht:50px; 
	height:50px;
}
.bottom{
	height:1000px;
	width:1360px;
	background-color:#ceffa2;
}
.totalBook{
	border-left:1px #c0c0c0 solid;
	border-right:1px #c0c0c0 solid;
	border-bottom:1px #c0c0c0 solid;
	width:1000px;
	height:1000px;
	margin-left:100px;
	background-color:#ffffff;
}