@CHARSET "UTF-8";
li{
	list-style:none;
	margin-top: 17px;
	margin-bottom: 17px;
}
.register_cover_div {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
	display:none;
}
.register_div {
	width: 400px;
	height: 400px;
	background-color: white;
	margin-left: 480px;
	margin-top: 100px;
}
.rg_title {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	font-size: 30px;
	font-weight: 550;
	font-family: 楷体;
	color: green;
	text-align: center;
}
.rg_close {
	position: absolute;
	margin-left: 375px;
	margin-top: -5px;
	width: 33px;
	height: 33px;
	font-size: 23px;
	font-weight: 550;
	font-family: 楷体;
	color: red;
	padding-left: 4px;
	padding-bottom: 3px;
	cursor: pointer;
}

.rg_bottom{
	width:100%;height:340px;border-top:3px #ff5555 solid;
}
.rg_bt_left{
	width:30%;height:80%;float:left;
}
.rg_bt_left li{
	text-align:right;
	margin-right:-20px;
	margin-top:25px;
}
.rg_bt_right{
	width:70%;height:80%;float:left;
}
.rg_bt_right li{
	text-align:left;
}
li input[type="text"],li input[type="password"]{
	margin-top:4px;
	width:200px;
	height:25px;
	border-radius:2px;
	border:1px #c0c0c0 solid;
}
li input:hover{
	border:1px blue solid;
}
.div_flag{
	width:150px;
	height:20px;
	float:left;
	color:red;
	font-family: 宋体;
	font-size:13px;
} 
/* .u_center li{
	list-style: none;
	margin-bottom: 15px;
}
.u_left li{
	list-style:none;
	margin-bottom: 17px;
}
body{
	background-image: url("../../images/background/4057a355fa8ffab.jpg");
	backgroudn-size:100% 100%;
}
.register_body{
	width:100%;
	height:100%;
}
.register_title{
 	text-align:center;
	margin-left:500px;
	width:300px;
	heigh:200px;
	font-size:60px;
	font-weight: 900px;
	font-family: 华文彩云;
}
.register_main{
	width:1266px;
	height:600px;
}
.register_dtable{
	float:left;
	width:500px;
	heigh:500px;
	display:block;
	margin-left:400px;
	margin-top:50px;
	background-image: url("../../images/background/2857a35a2ba577e.jpg");
}

.register_table{
	float:left;
	width:500px;
	height:400px;
}
.register_table_left{
	float:left;
	width:120px;
	height: 400px;
	border-right:2px #c0c0c0 solid;
}
.register_table_center{
	float:left;
	width:370px;
	height: 400px;
}

.register_table_submit{
	float:left;
	margin-left:200px;
	margin-top:-40px;
	width:100px;
	heigh:20px;
	background-image: url("../../images/button/1 (50).gif");
	border:1px black solid;
	font-size:18px;
	font-weight: 300px;
}
.register_table_submit:ACTIVE{
	background-image: url("../../images/button/1 (54).gif");
}
.register_table_submit:hover{
	cursor:pointer;
}
*/