@CHARSET "UTF-8";
div{
	float:left;
}
.upload_flag_default{
	margin-top:7px;
	margin-left:2px;
	width:20px;
	height:20px;
	background-image: url("../../images/flag/flag-default.png");
	background-size:cover;
}
.upload_flag_true{
	margin-top:7px;
	margin-left:2px;
	width:20px;
	height:20px;
	background-image: url("../../images/flag/flag-true.png");
	background-size:cover;
}
.upload_flag_false{
	margin-top:7px;
	margin-left:2px;
	width:20px;
	height:20px;
	background-image: url("../../images/flag/flag-false.png");
	background-size:cover;
}
.upload_form{
	width:500px;
	height:450px;
	border:1px #000000 solid;
	box-shadow:2px 2px 2px #c0c0c0;
	margin-top:80px;
	margin-left:400px;
	background-color: #ffffff;
}
.upload_title{
	margin-top:10px;
	margin-left:10px;
	width:310px;
	height:63px;
}
.title_font{
	font-size:20px;
	font-weight: 900;
}
#upload_title{
	margin-top:3px;
	width:200px;
	height:30px;
	font-size:15px;
}
#upload_img{
	margin-left:30px;
	margin-top:5px;
	width:130px;
	height:163px;
	border:1px green solid;
	background-size: cover;
	-moz-background-size: cover;
}
.img_button{
	margin-top:5px;
	margin-right:45px;
	float:right;
	text-align: center;
}
.file_button{
	padding-left:10px;
	margin-top:-70px;
	width:235px;
	height:50px;
	cursor:pointer;
}
.upload_desc{
	margin-top:-10px;
	width:250px;
	height:130px;
}
.desc_font{
	margin-left:10px;
	padding-top:5px;
	width:60px;
	height:20px;
	font-size:13px;
	font-weight: 700;
}
.desc_content{
	margin-left:10px;
	width:300px;
	height:120px;
}
.upload_button{
	margin-top:170px;
	margin-left:-58px;
	width:100px;
	height:40px; 
}
.upload_button input{
	width:100px;
	height:40px;
}
.title_warning{
	width:120px;
	height:20px;
	margin-left:-200px;
	margin-top:35px;
	color:red;
	font-size:13px;
	font-weight:500;
}

/********/
.upload_form2{
	width:500px;
	height:500px;
	border:1px #000000 solid;
	box-shadow:2px 2px 2px #c0c0c0;
	margin-top:60px;
	margin-left:400px;
	background-color: #ffffff;
}
.date{
	margin-left:5px;
	width:40px;
}
.upload_font{
	margin-top:5px;
	margin-left:5px;
	width:85px;
	height:25px;
}
.upload_button2{
	margin-top:70px;
	margin-left:5px;
	width:100px;
	height:40px; 
}
.upload_button2 input{
	margin-left:5px;
	width:100px;
	height:40px;
}